@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body
{
	font-family: 'open_sansregular'
}

header #datos
{
	margin: 1em;	
	/* vertical-align: middle; */
}

header #datos .subtitle
{	
	font-size: 2.1em;	
	color: #C93DA3;
}

header #datos .title
{
	/* color: #ea4c89; */
	display: inline-block;	
	font-size: 1.6em;	
}

header #datos .title .tag a
{	
	/* background: white; */
	/* border-radius: 5px; */
	/* color: #ea4c89; */
	color: #4292E8;
	padding: 2px 3px;
}

.btn.contacto{
	/* background-color: #ea4c89; */
	/* border: 1px solid #ea4c89; C93DA3*/
	color: white;
	font-weight: normal;
	background-color: #0040FF;
	border: 1px solid #0040FF;
}

.btn.contacto:hover
{
	background-color: #C93DA3;
	border: 2px solid #C93DA3;	
}

div.menu
{
	/* border: 1px solid gray; */
	/*background-color: #fff;	*/
	position: relative;
}

div.experience, div.portafolio
{
	border: 1px solid white;
	position: relative;	
	overflow: auto;
	overflow-x:hidden;
}

div.experience h2, div.portafolio h2
{
	text-align: left;
	float: left;
	width: 100%;	
}

div.experience .exp
{
	display: inline-block;
	overflow: auto;
	width: 30%; 
	margin-top:1em;	
	/* border-bottom: 1px solid gray; */
}

div.experience .exp:hover
{
	/* font-size: 1.6em; */
}

div.experience .exp .description h3
{
	font-size: 1.5em;
}

div.experience .exp .description h3 span
{
	color: #C93DA3;
	display: block;
	font-size: 0.8em;
}

div.experience .exp .description p
{
	padding-left: 0.5em;
	padding-right: 0.5em;
	/* font-size: 0.8em; */
}

div.portafolio .exp .description
{
	display: block;
	float: left;
	width: 80%;
	text-align: left;
}

div.portafolio .exp .description .title
{
	float: left;
	font-size: 1.5em;
}

div.main-container
{
	position: relative;
}

div.mastfoot
{
	position: relative;	
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
 /*  color: #0080FF; */
  border-bottom-color: #C93DA3;
  font-size: 1.3em;
}

li > a:hover
{
  color: #C93DA3;
  /*border-bottom-color: #C93DA3;*/
  /* font-size: 1.3em; */
}

@media (min-width: 992px) {  
	div.profile
	{
		border: 1px solid white;
		padding-top: 4em;		
		position: relative;
		width: 700px;
		margin: 0 auto;
	}

	div.profile .lead
	{
		font-size: 1.4em;
	}

	.portafolio h2, .experience h2
	{
		padding-top: 1em;	
	}
	
	.imagen, .description
	{
		padding-top: 1em;
	}
	
	
}
