@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body
{
	font-family: 'open_sansregular'
}

header #datos
{
	margin: 1em;	
	/* vertical-align: middle; */
}

header #datos .subtitle
{	
	font-size: 2.1em;	
	color: #C93DA3;
}

header #datos .title
{
	/* color: #ea4c89; */
	display: inline-block;	
	font-size: 1.6em;	
}

header #datos .title .tag a
{	
	/* background: white; */
	/* border-radius: 5px; */
	/* color: #ea4c89; */
	color: #4292E8;
	padding: 2px 3px;
}

.btn.contacto{
	/* background-color: #ea4c89; */
	/* border: 1px solid #ea4c89; C93DA3*/
	color: white;
	font-weight: normal;
	background-color: #0040FF;
	border: 1px solid #0040FF;
}

.btn.contacto:hover
{
	background-color: #C93DA3;
	border: 2px solid #C93DA3;	
	font-size: 1.5em;
}

div.menu
{
	/* border: 1px solid gray; */
	/*background-color: #fff;	*/
	position: relative;
}

div.experience, div.portafolio
{
	 /*border: 1px solid gray; */
	position: relative;
	/*width: 100%;	*/
	overflow: auto;
	overflow-x:hidden;
}

div.experience h2, div.portafolio h2
{
	/* text-align: left; */
	float: left;
	width: 100%;
	color: #C93DA3;
}

div.experience .exp
{
	/*display: block;*/
	float: left;
	overflow: auto;
	height: 380px;
	width: 30%; 
	margin-top:1em;
	margin-bottom:1em;
	margin-left: 1.5em;	
	/*padding: 1em 0.5em 1em 0.5em;*/
	 /*border: 1px solid gray; */
}

.exp_hover
{
	/* font-size: 1.6em; */	
	border-radius: 10px;
	/*border-bottom: 1px solid gray;*/
	/*color: white;	*/
	box-shadow: 5px 5px 15px #888888;
}

.exp_hover.gray
{
	background-color: #E6E6E6;
}

.exp_hover.green
{
	background-color: #71c837;
}

.exp_hover.blue
{
	background-color: #5599ff;
}

.exp_hover.orange
{
	background-color: #ff7f2a;
}

.exp_hover.yellow
{
	background-color: #ffcc00;
}

.exp_hover.red
{
	background-color: #ff2a2a;
}

.exp_hover.purple
{
	background-color: #800066;
}



.exp_hover.white
{
	color: gray;
	/*background-color: #ff7f2a;*/
}

.exp_img_hover
{
	width: 150px;
	height: 150px;
}

.exp_span_hover
{
	/*color: white !important;*/
}

div.experience .exp .description h3
{
	font-size: 1.5em;
}

div.experience .exp .description h3 span
{
	color: #C93DA3;
	display: block;
	font-size: 0.8em;
}

div.experience .exp .description p
{
	padding-left: 0.5em;
	padding-right: 0.5em;
	/* font-size: 0.8em; */
}

div.portafolio .exp
{
	/*border: 1px solid gray;*/
	overflow: auto;
	text-align: left;
	overflow-x:hidden; 
	/*width: 50%;*/
	float: left;;
	height: 180px;
	/*display: block;
	float: left;*/
}

div.portafolio .exp .description
{	
	float: left;
	display: block;
	width: 80%;
	margin-left: 2em;
}

div.portafolio .exp .imagen
{
	display: block;
	float: right;
	width: 10%;
	margin-right: 1em;
	margin-top: 1em;
}


div.portafolio .exp .description h3
{
	/*color: #C93DA3;*/
	/*display: block;*/ 
	font-size: 0.8em;
	width: 100%;
}

div.portafolio .exp .description h3 a
{
	color: #C93DA3;
}


div.portafolio .exp .description p
{
	/*padding-left: 0.5em;
	padding-right: 0.5em;*/
}

div.portafolio .exp .description .title
{
	float: left;
	font-size: 1.5em;
}

div.main-container
{
	position: relative;
}

div.mastfoot
{
	position: relative;	
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
 /*  color: #0080FF; */
  border-bottom-color: #C93DA3;
  font-size: 1.3em;
}

li > a:hover
{
  color: #C93DA3;
  /*border-bottom-color: #C93DA3;*/
  /* font-size: 1.3em; */
}

@media (min-width: 992px) {  
	div.profile
	{
		border: 1px solid white;
		padding-top: 4em;		
		position: relative;
		width: 700px;
		margin: 0 auto;
	}

	div.profile .lead
	{
		font-size: 1.4em;
	}

	.portafolio h2, .experience h2
	{
		padding-top: 1em;	
	}
	
	.imagen, .description
	{
		padding-top: 1em;
	}
	
	
}

@media (max-width: 768px) {
		
	div.experience .exp
	{
		width: 45%;
		height: auto;
	}

}


@media (max-width: 450px) {
		
	header #datos .subtitle
	{	
		font-size: 1.5em;		
	}

	header #datos .title
	{	
		font-size: 1.2em;	
	}

	header #datos .title .tag a
	{
		font-size: 0.9em;	
	}

	div.experience h2, div.portafolio h2
	{		
		font-size: 1.7em;
		display: block;
	}

	div.experience .exp
	{				
		margin-top: 1em;
		width: 100%;
		height: auto;
	}
	
	div.experience .exp .imagen
	{
		display: block;
		float: left;
		margin-right: 1em;
	}

	div.experience .exp .imagen img
	{
		width: 50px;
		height: 50px;				
	}

	div.experience .exp .description
	{		
		font-size: 0.9em;
		left: 8em;
		position: absolute;		
		text-align: left;
	}

	div.experience .exp .description h3
	{
		margin: 0;
	}	

	div.experience .exp .description .title span
	{
		font-size: 0.8em;
	}

	div.experience .exp .description p
	{
		display: none;		
	}
}